.card-time-on-read {
  max-width: 411px;
  max-height: 80px;
  background: rgba(96, 71, 236, 0.1);
  border: 1px solid #6047ec;
  border-radius: 8px;
  padding: 21px 50px;
}

.card-time-on-read p {
  color: #6047ec;
  font-weight: 700;
  /* font-size: 24px; */
  font-size: 20px;
}

.main-cart {
  max-width: 411px;
  background: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 30px;
  margin-top: 24px;
}

.cart {
  max-width: 351px;
  max-height: 98px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
}

.cart p {
  color: #111111;
  font-size: 18px;
  font-weight: 600;
}
